<div id="inputs">
    <input class="input" id="name" type="text" placeholder="Nome" name="nome" [(ngModel)]="name">
    <input class="input" id="email" type="email" placeholder="E-mail" [(ngModel)]="email">
    <input class="input" id="password" type="password" placeholder="Senha" [(ngModel)]="password">
    <br>
    <input class="input" id="state" type="text" placeholder="Estado" [(ngModel)]="state">
    <input class="input" id="city" type="text" placeholder="Cidade" [(ngModel)]="city">
    <input class="input" id="district" type="text" placeholder="Bairro" [(ngModel)]="district">
    <br>
    <input class="input" id="gender" type="text" placeholder="Gênero" [(ngModel)]="gender">
    <input class="input" id="age" type="number" placeholder="Idade" [(ngModel)]="age">
    <input class="input" id="link" type="url" placeholder="Link de uma foto do que mais gosta de fazer" [(ngModel)]="link">
    <br>
    <button defaultPadding="" (click)="send()">Enviar</button>
</div>