<div id="app_header_flex_container" [style.backgroundColor]="stl">
  <div class="app_header_flex_item">
    <h1>Seja bem vindo ao  {{ title }}!</h1>
  </div>
  <div class="app_header_link">
    <div class="app_header_flex_item">
      <h2><app-a routerLink="/app-home">Home</app-a></h2>
    </div>
    <div class="app_header_flex_item">
      <h2><app-a routerLink="/app-register">Cadastro</app-a></h2>
    </div>
    <div class="app_header_flex_item">
      <h2><app-a routerLink="/app-show">Consulta</app-a></h2>
    </div>
  </div>
</div>
<router-outlet></router-outlet>